
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/ShowActors.css" rel="stylesheet" />
    <link href="~/Content/CSS/NavBarAdmin.css" rel="stylesheet" />
    <title>ActorsPage</title>
</head>
<body>
   @Html.Partial("NavBarAdmin")
    <div class="big">
        <ul id="myUL">
            <li>
                <div class="actor-button" id="actor1-container">
                    <p>aaaaaa</p>
                    <button onclick="details()">Details</button>
                    <button onclick="RemoveActor1()">Remove</button>
                </div>
                <div id="actor-details">
                    <p>
                        <table>
                            <tr>
                                <td>First Name</td>
                                <td id="first-name" contenteditable="false">aaa</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td id="last-name" contenteditable="false">sss</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td id="age" contenteditable="false">25</td>
                            </tr>
                            <tr>
                                <td>Movies</td>
                                <td id="actor-movies" contenteditable="false">a,b,c</td>
                            </tr>
                        </table>
                    </p>
                    <button id="edit-button" type="submit">Edit</button>
                    <button id="done-button" type="submit">Done</button>
                </div>
            </li>

        </ul>
    </div>
    <script src="~/Content/JS/Actors.js"></script>
</body>
</html>


