@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/AddDirectors.css" rel="stylesheet" />
    <link href="~/Content/CSS/NavBar.css" rel="stylesheet" />
    <title>AddDirectorsPage</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-container">
            <div><a href="~/AdminView/AdminHomePage"><img src="~/Content/Images/imdb-logo.svg" class="logo"></a></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Movies section" class="admin-menu">Movies</a>
                            <div class="dropdown-content">
                                <a href="~/AdminView/Movies" class="show">Show All Movies</a>
                                <a href="~/AdminView/AddMovies">Add New Movie</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Actors section" class="admin-menu">Actors</a>
                            <div class="dropdown-content">
                                <a href="~/AdminView/Actors" class="show">Show All Actors</a>
                                <a href="~/AdminView/AddActors">Add New Actor</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Directors section" class="admin-menu">Directors</a>
                            <div class="dropdown-content">
                                <a href="~/AdminView/Directors" class="show">Show All Directors</a>
                                <a href="~/AdminView/AddDirectors">Add New Director</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="~/Content/Images/man.png" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Admin</span>
                </div>
            </div>
        </div>
    </div>
    <div class="addform">
        <form action="/action_page.php">

            <label for="directorfirstname">Director First Name:</label><br>
            <input type="text" id="directorfirstname" name="directorfirstname" placeholder="Enter Director First Name"><br><br>
            <label for="directorlastname">Director Last Name:</label><br>
            <input type="text" id="directorlastname" name="directorlastname" placeholder="Enter Director Last Name"><br><br>
            <label for="age">Age:</label><br>
            <input type="text" id="age" name="age" placeholder="Enter Director Age"><br><br>
            <label for="movies">Movies:</label><br>
            <input type="text" id="movies" name="movies" placeholder="Enter Director Movies"><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
