
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    @Html.Partial("NavBarAdmin")
    <h1 style="margin:20% 40% ">Welcome Admin !</h1>
</body>
</html>
