
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/homepage.css" rel="stylesheet" />
    <title>HomePage</title>
</head>
<body>
    @Html.Partial("NavBarAdmin")
    <h1>Welcome Admin</h1>
</body>
</html>
