
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmDetails</title>
    <link rel="stylesheet" href="/Content/Site.css">
    <script src="~/Content/Site.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container"><img src="~/Content/Images/imdb-logo.svg" class="logo"></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item">Menu</li>
                    <li class="menu-list-item search"><input size="50" type="text" placeholder="Search.."><img class="imageSearch" src="~/Content/Images/search.png" /></li>
                    <li class="menu-list-item"></li>
                    <li class="menu-list-item">Sign In</li>
                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="~/Content/Images/man.png" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Profile</span>
                </div>
            </div>
        </div>
    </div>

    <div class="film-container">
        <div class="film-container-details">
            <ul class="film-container-details-block">
                <ul class="film-container-details-rating">
                    <li class="film-container-details-rating-item">Rate</li>
                    <li class="film-container-details-rating-item">
                        <img style="width:32px; cursor:pointer;" src="~/Content/Images/icons8-like-64 (1).png" />
                        <img style="width:32px; cursor:pointer;" src="~/Content/Images/icons8-dislike-64.png" />
                    </li>
                </ul>

                <ul class="film-container-details-rating">
                    <li class="film-container-details-rating-item">IMDb Rating</li>
                    <li class="film-container-details-rating-item"><img style="width:32px; position:absolute;" src="~/Content/Images/icons8-star-64.png" /><p style="margin-left:40px;">9.7/10</p></li>

                </ul>

            </ul>
            <h1 class="film-container-details-title">The Godfather</h1>

            <ul class="film-container-details-menu">
                <li class="film-container-details-menu-item">1972</li>
                <li class="film-container-details-menu-item">R</li>
                <li class="film-container-details-menu-item">2h 55m</li>
            </ul>

            <div class="film-container-images">
                <ul class="film-container-images-list">
                    <li><img src="~/Content/Images/TheGodfather poster.jpg" /></li>
                    <li style="margin-left: 5px;">
                        <iframe width="820" height="562" frameborder="0"
                                src="https://www.youtube.com/embed/UaVTIH8mujA"></iframe>
                    </li>
                </ul>
            </div>

            <div class="film-container-desc">
                <p style="color:white; padding-top: 10px; padding-bottom:10px; font-size:large">
                    The aging patriarch of an organized crime dynasty in postwar
                    New York City transfers control of his clandestine empire to his reluctant youngest son.
                </p>
                <hr style="width:50%;text-align:left;margin-left:0;">

                <h2 style="color:white; font-size:large; display: inline-block; padding-bottom:8px; padding-top: 8px; "> Directors </h2>
                <ul class="person-director">
                    <li class="person-director-item"> Francis Ford Coppola </li>
                </ul>
                </p>
                <hr style="width:50%;text-align:left;margin-left:0; ">

                <h2 style="color:white; font-size:large;display: inline-block; padding-bottom:8px; padding-top: 8px;"> Writers</h2>
                <ul class="person-writer">
                    <li class="person-writer-item"> Mario Puzo </li>
                    <li class="person-writer-item"> Francis Ford Copploa</li>
                </ul>

                <hr style="width:50%;text-align:left;margin-left:0;">

                <h2 style="color:white; font-size:large; display: inline-block; padding-bottom:8px; padding-top: 8px;"> Stars</h2>
                <ul class="person-star">
                    <li class="person-star-item"> Marlon Brando </li>
                    <li class="person-star-item"> Al Pacino </li>
                    <li class="person-star-item"> James Caan </li>
                </ul>

                <hr style="width:50%;text-align:left;margin-left:0;">
            </div>

        </div>

    </div>
    <div class="more-film-desc">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
            deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
            minima voluptatibus incidunt. Accusamus, provident.
        </p>

    </div>
</body>
</html>
