@using IMDB.ViewModel
@model SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link href="~/Content/CSS/Search.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar-container">

        <div class="logo-container"><img src="~/Content/Images/imdb-logo.svg" class="logo" alt="User Photo"></div>
        <div class="menu-container">
            <ul class="menu-list">
                

            </ul>
        </div>
        <div class="profile-container">
            <img class="profile-picture" src="~/Content/Images/man.png" alt="">
            <div class="profile-text-container">
                <span class="profile-text">Sign In</span>
                <span class="profile-text">Profile</span>
            </div>
        </div>
    </div>
    <div>
        <div class="All-Container">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

            <ul id="myUL" class="search-content-container">
                <li><a href="#">Adele ase</a></li>
                <li><a href="#">adw </a></li>
            </ul>
        </div>
    </div>
</body>

</html>
