*{
    margin: 0;
}

body {
    font-family: 'Roboto',sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(37, 37, 37);
}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    padding: 0 10%;
    height: 100%;
    color: white;
}

.logo {
    width:64px;
    height: 32px;
    position: relative;
}

.logo-container {
    flex : 1;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 30px;
}

.menu-container {
    flex: 6;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text-container {
    margin: 0 10px;
}
.admin-menu {
    color: white;
    background-color: transparent;
    text-decoration: none;
    margin-right: 70px;
    font-size:150%;
}
.dropdown {
    display: contents;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 11%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    margin-top: 10px;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 15px;
    text-decoration: none;
}

.dropdown-content a:hover {
        background-color: rgb(37, 37, 37);
        color: white;
    }
