.All {
    padding: 0px;
    margin: 0px;
      box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: center;
    border: #333333;
}

body {
    background-color: #1a1a1a;
}

.ImgSetting {
    object-fit: cover;
    width: 150px;
    height: 220px;
    box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 4px;
}
.Logo {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.logo {
    width: 64px;
    height: 32px;
    text-align: center;
}


.Form-Details {
    z-index: 1;
    background-color: white;
    opacity: 90%;
    max-width: 400px;
    height: 520px;
    margin: 5px auto 5px;
    padding: 1px 1px 50px 30px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 10px;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
}

.Submit {
    margin-left: 100px;
    cursor: pointer;
}
.textinput {
    padding-top: 7px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 7px;
}
input {
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}