* {
    box-sizing: border-box;
}
body {
    font-family: 'Cairo',sans-serif;
    background-color: black;
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(37, 37, 37);
}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    padding: 0 10%;
    height: 100%;
    color: white;
}

.logo {
    width: 64px;
    height: 32px;
    position: relative;
}

.logo-container {
    flex: 1;
    margin-top: 10px;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.search input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    border-radius: 8px 0px 0px 8px;
    position: relative;
}

.imageSearch {
    height: 32px;
    width: 32px;
    position: absolute;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
}

.menu-container {
    flex: 3;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.profile-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text-container {
    margin: 0 10px;
}

.All-Container {
    padding-left: 15%;
    padding-right: 15%
}

#myInput {
    background-image: url('/Content/Images/search.png');
    background-position: 4px 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 5px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: 5px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border-radius:5px;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}