* {
    margin: 0;
}

body {
    font-family: 'Roboto',sans-serif;
}

.big {
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(245,197,24);
    font-size: 16px;
    transition-duration: 0.4s;
}

    .button:hover {
        background-color: #ffd633;
        color: black;
    }

table {
    border-collapse: collapse;
    height: 200px;
    width: 500px;
}

td {
    padding: 10px;
    text-align: center;
    background-color: #404040;
    color: white;
    border-bottom: 1px solid #ddd;
}
