* {
    margin: 0;
    box-sizing: border-box
}

@font-face {
    font-family: "Cairo", sans-serif;
    src: url(../Content/Font/static/Cairo-Bold.ttf);
}

body {
    font-family: 'Cairo',sans-serif;
    background-color: black;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color:rgb(37, 37, 37);


}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    padding: 0 10%;
    height: 100%;
    color: white;
}

.logo {
    width: 64px;
    height: 32px;
    position: relative;
}

.logo-container {
    flex: 1;
    margin-top: 10px;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.search input[type=text] {
    padding: 10px;
    border: none;
    font-size: 17px;
    border-radius: 8px 0px 0px 8px;
    position: relative;
}

.imageSearch {
    height: 32px;
    width: 32px;
    position: absolute;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
}
.SearchBTN {
    float: right;
    width: 6%;
    padding: 9px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
}

.SearchBTN:hover {
    background: #0b7dda;
}

.menu-container {
    flex: 3;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.profile-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text{
    text-decoration: none;
    color: whitesmoke;
}
.profile-text-container {
    margin: 0 10px;
}

.mycontainer {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    padding-left: 10%;
    padding-right: 10%
}

.featured-content {
    height: 50vh;
    padding: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/Content/Images/47857.jpg');
    object-fit:cover;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.featured-title {
    width: 300px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration:none;
}

.ActorLink{
    color:gold;
    text-decoration:none;

}
.OtherActorLink{
    color: black;
    text-decoration: none;
}

.DirectorLink{
    color: white;
    text-decoration:none;
}
.movie-list {
    display: flex;
    align-items: center;
    height: 370px;
}


.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-title {
    color: white;
    padding: 10px;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title {
    color: white;
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    border-radius: 8px;
}

.movie-list-item-desc {
    color: white;
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 35%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
    border-radius: 8px;
}

.movie-list-item-button {
    padding: 5px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    text-decoration: none;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}


.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.slideshow-container {
    max-width: 640px;
    position: relative;
    margin: auto;
    float: left;
}

/* Hide the images by default */
.mySlides1 .mySlides2 {
    display: flex;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: teal;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
 
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
}
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.film-container {
    height: 100vh;
    padding: 2% 10% 0% 10%;
    background: rgba(59,59,59,255);
}

.film-container-details-rating {
    float: right;
    list-style: none;
}

.film-container-details-rating-item {
    font-size: large;
    color: white;
}
.radio_group {
    width: 50px;
    height: 50px;
    margin: 5px;
    position: relative;
    text-align: center;
    display:inline-flex;
    line-height: 50px;
    font-size: 40px;
}
.radio_group input[type="radio"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
}

.radio_group input[type="radio"] + label {
    color: #95a5a6;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(.8);
}

.radio_group input[type="radio"]:checked + label {
    color: #3498db;
    transform: scale(1.1);
}

.film-container-details-title {
    color: white;
}

.film-container-details-menu {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.film-container-details-menu-item {
    display: inline-block;
    color: lightgray;
    vertical-align: middle;
    margin-right: 5px;
}

.film-container-images-list {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;

}
.film-container-images-list img {
    width: 520px;
    height: 562px;
    object-fit:cover;
        
}




.person-director, .person-star, .person-writer {
    display: inline-flex;
}

.LikeDropDownList {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
}
.submitDropDownList {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
}

.rate-box {
    float: right;
}
.person-director-item, .person-star-item, .person-writer-item {
    display: inline-flex;
    color: lightgray;
    vertical-align: middle;
    padding-left: 5px;
}

button {
    background: #fff;
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    color: #65676b;
    padding: 5px 10px;
}

button.liked {
    color: #0571ed;
}

button.liked i {
    animation: animLiked 0.5s ease-in-out;
    -webkit-animation: animLiked 0.5s ease-in-out;
}
button.disliked {
    color: red;
}

button.disliked i {
    animation: animDisliked 0.5s ease-in-out;
    -webkit-animation: animDisliked 0.5s ease-in-out;
}

@keyframes animLiked {
    100% {
        transform: rotate(-15deg) scale(1.3);
        -webkit-transform: rotate(-15deg) scale(1.3);
        -moz-transform: rotate(-15deg) scale(1.3);
        -ms-transform: rotate(-15deg) scale(1.3);
        -o-transform: rotate(-15deg) scale(1.3);
        filter: blur(0.5px);
        -webkit-filter: blur(0.5px);
    }
}
@keyframes animDisliked {
    100% {
        transform: rotate(15deg) scale(1.3);
        -webkit-transform: rotate(15deg) scale(1.3);
        -moz-transform: rotate(15deg) scale(1.3);
        -ms-transform: rotate(15deg) scale(1.3);
        -o-transform: rotate(15deg) scale(1.3);
        filter: blur(0.5px);
        -webkit-filter: blur(0.5px);
    }
}


.more-film-desc {
    height: auto;
    width: 100%;
    padding: 2% 10% 0% 10%;
    background: white;
}

.more-to-explore {
    float: right;
    margin-right: 120px;
}

.more-to-explore-image {
    height: 300px;
    width: 160px;
    object-fit: cover;
}

.film-desc-cast {
    position: absolute;
    margin-top: 360px;
    width: auto;

}


.film-desc-cast-data img {
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
    background-color: teal;
}

.comment-section {
    display: block;
    position: relative;
    margin-top: 45%;
    background-color: white;
}




.user_avatar {
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
}

.user_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment_block {
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

.comment_block .create_new_comment {
    width: 100%;
    padding: 20px 0;
}

.comment_block .create_new_comment .input_comment {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: calc(100% - 75px);
}

.comment_block .create_new_comment .input_comment input[type="text"] {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 10px;
    border: none;
    border-bottom: 2px solid lightgray;
}

.comment_block .create_new_comment .input_comment input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid lightgray;
}

.comment_block .new_comment {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid lightgray;
}

.comment_block .new_comment .user_comment {
    list-style-type: none;
}

.comment_block .new_comment .comment_body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: 65px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #555;
    background-color: lightgray;
    border-bottom: 2px solid lightgray;
}

.comment_block .new_comment .comment_body .replied_to {
    margin: 5px 0px;
    background-color: #fafafa;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 5px;
}

.comment_block .new_comment .comment_body .replied_to p {
    padding: 5px;
}

.comment_block .new_comment .comment_body .replied_to span {
    color: #6495ed;
    margin-right: 2px;
}

.comment_block .new_comment .comment_toolbar {
    width: 100%;
}

.comment_block .new_comment .comment_toolbar ul {
    list-style-type: none;
    padding-left: 75px;
    font-size: 0;
}

.comment_block .new_comment .comment_toolbar ul li {
    display: inline-block;
    padding: 5px;
    font-size: 0.7rem;
    color: #d9d9d9;
}

.comment_block .new_comment .comment_toolbar ul li:hover {
    cursor: pointer;
}

.comment_block .new_comment .comment_toolbar .comment_details {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: left;
}

.comment_block .new_comment .comment_toolbar .comment_tools {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: right;
}

.comment_block .new_comment .comment_toolbar .comment_tools li:hover {
    color: #ccc;
}

.comment_block .new_comment .user:hover {
    color: #6495ed;
    text-decoration: underline;
}

.comment_block .new_comment .love:hover {
    color: #ff6347;
}
.sendButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    float: right;
}
.ProfileSettingsBtn
{
    text-decoration: none;
    color:white;
}