
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Sayed.css" rel="stylesheet" />
    <title>HomePage</title>
</head>
<body>
    <div class="navbar">

        <div class="navbar-container">
            <div><img src="~/Content/Images/imdb-logo.svg" class="logo"></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Movies section" class="admin-menu">Movies</a>
                            <div class="dropdown-content">
                                <a href="#" class="show">Show All Movies</a>
                                <a href="#">Add New Movie</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Actors section" class="admin-menu">Actors</a>
                            <div class="dropdown-content">
                                <a href="#" class="show">Show All Actors</a>
                                <a href="#">Add New Actor</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Directors section" class="admin-menu">Directors</a>
                            <div class="dropdown-content">
                                <a href="#" class="show">Show All Directors</a>
                                <a href="#">Add New Director</a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-list-item search">
                    <input size="50" type="text" placeholder="Search.." id="myInput" onkeyup="myFunction()"><img class="imageSearch" src="~/Content/Images/search.png" />
                    </li>
                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="~/Content/Images/man.png" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Admin</span>
                </div>
            </div>
        </div>
    </div>
    <div class="big">
        <ul id="myUL">
            <li>
                <p>Doctor Strange</p>
                <button onclick="details()">Details</button>
                <div id="movie-details">
                    <p>

                        <table>
                            <tr>
                                <td>Movie</td>
                                <td>Doctor Strange</td>
                            </tr>
                            <tr>
                                <td>Director</td>
                                <td>Sam Raimi</td>
                            </tr>
                            <tr>
                                <td>actors</td>
                                <td>bendect , elizabith olsen, tom holand</td>
                            </tr>
                            
                        </table>
                    </p>
                </div>
            </li>
            <li>
                <p>the godfather</p>
                <button onclick="details2()">Details</button>
                <div id="movie-details2">
                    <p>

                        <table>
                            <tr>
                                <td>Movie</td>
                                <td>the godfather</td>
                            </tr>
                            <tr>
                                <td>Director</td>
                                <td>Sam Raimi</td>
                            </tr>
                            <tr>
                                <td>actors</td>
                                <td>alpatchino , marlon brando, robert de niro</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <script src="~/Content/Sayed.js"></script>
</body>
</html>


