
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/Site.css">
    <title>HomePage</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-container">
            <div><img src="~/Content/Images/imdb-logo.svg" class="logo"></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li><a href="https://www.youtube.com/watch?v=AOlkcLtyXkw" title="Go to Movies section" class="admin-menu">Movies</a></li>
                    <li><a href="https://www.youtube.com/watch?v=AOlkcLtyXkw" title="Go to Actors section" class="admin-menu">Actors</a></li>
                    <li><a href="https://www.youtube.com/watch?v=AOlkcLtyXkw" title="Go to Directors section" class="admin-menu">Directors</a></li>
                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="~/Content/Images/man.png" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Admin</span>
                </div>
            </div>
        </div>
    </div>
    <h1 class="welcome">WELCOME ADMIN !</h1>
</body>
</html>
