@using IMDB.ViewModel
@model ActorDetailsViewModel
@{
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/CSS/ActorDetails.css" rel="stylesheet" />
    <title>ActorDetails</title>
</head>
<body>
    @section navbar{}
    <!--............................... Form & head .............................-->
    <div class="Form-Container">
        <div class="Head-Container"><h1 class="HeadText">@Model.Actor.FName @Model.Actor.LName</h1></div>
        <!--..........................................-->

        @foreach (var item in Model.movieActors)
        {
            <div class="Movie-Container">
                @item.Movie.Movie_Name
            </div>
        }



        <!--............................. Back Button ........................-->

        @Html.ActionLink("Back", "Home", "Home", new { id = "" }, new { @class = "BackBtn" })
    </div>
</body>
</html>
